body {
    background-color: #f4f4f4;
    padding:0;
}

html {
	scroll-behavior: smooth;
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    width: 100%;
    margin: auto;
}

.carousel-caption {
    position: absolute;
    font-size: 16px;
    font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
    top: 10%;
}

.carousel-indicators {
    position: absolute;
    bottom: 1%;
}

.navbar,
.navbar-default .navbar-fixed-top {
    background-color: white;
    /* border-bottom: rgb(19, 15, 80) solid 7px; */
}

.nav {
    padding: 2%;
}

.navbar-toggle {
    background-color: transparent;
}

.nav.navbar-nav li a {
    color: rgb(5, 20, 87);
    font-size: 15.5px;
    letter-spacing: 1pt;

}

.footer {
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    color: white;
    position: absolute;

}

.footer_logo {
    padding-top: 5%;
    padding-bottom: 2%;
    align-items: center;
    display: flex;
    justify-content: center;

}

.fb,
.inst,
.twit,
.gmail {
    width: 50px;
    height: 50px;
    margin-left: 25px;
}

.links {
    align-items: center;
    display: flex;
    justify-content: center;
    /* background-color:Red */
}

.credits {
    padding: 2%;
    font-size: 18px;
    color: rgb(9, 9, 68);
    font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
}


.button {
    background-color: transparent; /* Green */
    border: none;
    color: black;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-style: solid;
    border-width: thin;
}

.button:hover {
    background: white;
    color: rgb(9, 31, 153);
    text-decoration: none;
}



#logonav {
    width: 100%;
}

@media screen and (max-width: 767px) {
    #logonav {
        width: 15%
    }
}

@media screen and (min-width: 768px) {
    #logonav {
        width: 25%
    }
}

@media (min-width: 992px) {
    #logonav {
        width: 25%
    }
}

@media (min-width: 1200px) {
    #logonav {
        width: 25%;
    }
}



@media screen and (max-width: 767px) {

    .navbar,
    .navbar-default .navbar-fixed-top {
        border-bottom: rgb(19, 15, 80) solid 0px;
    }
}

@media screen and (min-width: 768px) {

    .navbar,
    .navbar-default .navbar-fixed-top {
        border-bottom: rgb(19, 15, 80) solid 5px;

    }
}

@media (min-width: 992px) {

    .navbar,
    .navbar-default .navbar-fixed-top {
        border-bottom: rgb(19, 15, 80) solid 5px;

    }
}

@media (min-width: 1200px) {

    .navbar,
    .navbar-default .navbar-fixed-top {
        border-bottom: rgb(19, 15, 80) solid 7px;
    }
}





/* banner section */

.short-text {
    display: none;
}

.acme_title {
    display: none;
}

.font_big {
    display: none;
}

.banner_img img {
    padding-top: 100px;
    display: block;
}

@media (max-width:640px) {
    .banner_img img {
        padding:0 !important;
        margin:0 !important;
        display: none;
    }

    .short-text {
        display: inline-block;
        margin-top: 100px !important;
        padding: 150px;
        width: 100%;
        height: 100%;
        background-color: #0095f9;
    }

    .acme_title {
        display: inline-block;
    }

    .font_big {
        display: inline-block;
    }

}

@media(max-width:768px) {
    .banner_img img {
        display: none !important;
    }

    .short-text {
        display: inline-block;
        margin-top: 60px !important;
        padding-top: 150px;
        width: 100%;
        font-size: 16px;
        color: #fff;
        height: 100%;
        background-color: #0095f9;
    }

    .acme_title {
        display: inline-block;
    }

    .font_big {
        display: inline-block;
    }

}

@media(max-width:992px) {
    .banner_img img {
        display: none !important;
    }

    .short-text {
        display: inline-block;
        margin-top: 150px;
        padding: 50px 30px 30px 50px;
        width: 100%;
        font-size: 16px;
        color: #fff;
        height: 100%;
        background-color: #0095f9;
    }

    .acme_title {
        display: inline-block;
        padding: 50px 30px 30px 50px;
        width: 100%;
        height: 100%;
        background-color: #0095f9;
        color: #fff;
    }

    .font_big {
        display: inline-block;
        font-size: 30px;
        color: #fff;
        font-weight: 700;
    }

}


/* insights section */
#insights {
    /* padding-top: 66px; */
    min-height: 100%;
    position: relative;
    background-color: #f4f4f4;
    font-size: 30px;

}

.acme_insights_title {

    padding-left: 20px;
    font-size: 23px;
    display: block;

}

.acme_insights_text {
    padding-left: 20px;
    font-size: 12px;
    padding-bottom: 10px;
    display: block;
}

#home {
    display: none;

}

.in_sight_image {
    display: block;
}

@media (max-width:640px) {
    #home {
        min-height: 100%;
        position: relative;
        background-color: #052283;
        font-size: 30px;
        display: inline-block;

        padding-bottom: 50px;
    }

    #mycarousel a{
        display: none;
    }

    .in_sight_image {
        display: none;
    }

    #insights {
        /* padding-top: 66px; */
        min-height: 100%;
        position: relative;
        background-color: #052283;
        font-size: 30px;

    }

    .acme_insights_title {

        padding-left: 20px;
        font-size: 23px;
        display: block;
        color: #fff
    }

    .acme_insights_text {
        padding-left: 20px;
        font-size: 12px;
        padding-bottom: 5px;
        display: block;
        color: #fff
    }

}

@media(max-width:768px) {
    #home {
        min-height: 100%;
        position: relative;
        background-color: #052283;
        font-size: 30px;
        display: none;
    }

    .in_sight_image {
        display: inline-block;
    }

    #insights {
        /* padding-top: 66px; */
        min-height: 100%;
        position: relative;
        background-color: #052283;
        font-size: 30px;

    }

    .acme_insights_title {

        padding-left: 20px;
        font-size: 23px;
        display: block;
        color: #fff
    }

    .acme_insights_text {
        padding-left: 20px;
        font-size: 12px;
        padding-bottom: 10px;
        display: block;
        color: #fff
    }


}

@media(max-width:992px) {
    #home {
        min-height: 100%;
        position: relative;
        background-color: #052283;
        font-size: 30px;
        display: block;
    }

    .in_sight_image {
        display: none;
    }

    #insights {
        /* padding-top: 66px; */
        min-height: 100%;
        position: relative;
        background-color: #052283;
        font-size: 30px;

    }

    .acme_insights_title {

        padding-left: 20px;
        font-size: 23px;
        display: block;
        color: #fff
    }

    .acme_insights_text {
        padding-left: 20px;
        font-size: 12px;
        padding-bottom: 2px;
        display: block;
        color: #fff
    }

    /* body {
        background-color: #052283;
    } */


}




/* 
contact us section */
.contact_btn {
    text-align: center;
    color: #fff;
}

.contact_us_img{
    background-image: url('../img/commitment_bg.png');
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    background-size: auto;
}

.contact_us_padding_top{
    padding-top:50px;
}

.contact_us_title{
    text-align: center;
     font-size:25px; 
     color:#fff;
}

.contact_us_text{
    text-align: center; 
    font-size:15px;
     padding:20px; color:#fff;
}
.contact_us_btn{
    text-align: center;
      padding-bottom:80px;
}


/* event section */

#event {
    /* padding-top: 66px; */
    min-height: 100%;
    position: relative;
    background-color: #f4f4f4;
    font-size: 30px;

}

.event_title {

    padding-left: 20px;
    font-size: 23px;
    display: block;

}

.event_text {
    padding-left: 20px;
    font-size: 12px;
    padding-bottom: 10px;
    display: block;
}

#event_carousel {
    display: none;

}

.event_image {
    display: block;
}

@media (max-width:640px) {
    #event_carousel {
        min-height: 100%;
        position: relative;
        background-color: #f4f4f4;
        font-size: 30px;
        display: inline-block;
        padding-bottom: 50px;
    }

    .event_image {
        display: none;
    }

    #event {
        /* padding-top: 66px; */
        min-height: 100%;
        position: relative;
        background-color: #f4f4f4;
        font-size: 30px;

    }

    .event_title {

        padding-left: 20px;
        font-size: 23px;
        display: block;
        color: #052283
    }

    .event_text {
        padding-left: 20px;
        font-size: 12px;
        padding-bottom: 10px;
        display: block;
        color: #000
    }

}

@media(max-width:768px) {
    #event_carousel {
        min-height: 100%;
        position: relative;
        background-color: #f4f4f4;
        font-size: 30px;
        display: none;
    }

    .event_image {
        display: inline-block;
    }

    #event {
        /* padding-top: 66px; */
        min-height: 100%;
        position: relative;
        background-color: #f4f4f4;
        font-size: 30px;

    }

    .event_title {

        padding-left: 20px;
        font-size: 23px;
        display: block;
        color: #052283
    }

    .event_text {
        padding-left: 20px;
        font-size: 12px;
        padding-bottom: 10px;
        display: block;
        color: #000
    }


}

@media(max-width:992px) {
    #event_carousel {
        min-height: 100%;
        position: relative;
        background-color: #f4f4f4;
        font-size: 30px;
        display: block;
    }

    .event_image {
        display: none;
    }

    #event {
        /* padding-top: 66px; */
        min-height: 100%;
        position: relative;
        background-color: #f4f4f4;
        font-size: 30px;

    }

    .event_title {

        padding-left: 20px;
        font-size: 23px;
        display: block;
        color: #052283
    }

    .event_text {
        padding-left: 20px;
        font-size: 12px;
        padding-bottom: 10px;
        display: block;
        color: #000
    }
    .body{
        background-color: #f4f4f4;
    }



}


/* #mynavbar ul li a:hover  {
    text-decoration: underline
}

.mynavbar ul li .home a:active  {
    text-decoration: underline
}
#mynavbar ul li a.current  {
    text-decoration: underline
} */

.links a{
    padding-left: 20px;
    color: #052283
}

